*.deb
*.zip
*.la
*.lo
*.o
libtool
.deps
.dirstamp
.libs
autom4te.cache
codesign.mk
config.h
control
control.tmp
config.log
config.status
Makefile
Cycript.yy
Cycript.l
Cycript.tab.*
Cycript.output
Bridge.gperf
location.hh
position.hh
stack.hh
sysroot.ios
sysroot.sim
lex.cy.cpp
/cycript
Trampoline.t.hpp
Bridge.hpp
package
aclocal.m4
stamp-h1
readline-6.2
readline-6.2.tar.gz
libffi.*
build.*
Cycript-ios.framework
Cycript-mac.framework
Cycript.lib
