*.deb
*.la
*.lo
libtool
.libs
autom4te.cache
control
control.tmp
config.log
config.status
GNUmakefile
Cycript.yy
Cycript.l
Cycript.tab.*
Cycript.output
Bridge.gperf
location.hh
position.hh
stack.hh
sysroot.ios
sysroot.sim
lex.cy.c
cycript
Trampoline.t.hpp
Bridge.hpp
Struct.hpp
package
aclocal.m4
GNUmakefile-e
