*.deb
*.zip
*.la
*.lo
*.o
libtool
.deps
.dirstamp
.libs
autom4te.cache
codesign.mk
config.h
control
control.tmp
config.log
config.status
Makefile
Cycript.yy
Cycript.l
Cycript.tab.*
Cycript.output
Bridge.gperf
stack.hh
sysroot.ios
sysroot.sim
lex.cy.cpp
lex.backup
/cycript
Bridge.hpp
package
aclocal.m4
stamp-h1
ncurses-5.9
ncurses-5.9.tar.gz
ncurses.*
readline-6.2
readline-6.2.tar.gz
readline.*
libffi.*
build.*
Cycript.ios
Cycript.osx
Cycript.lib
