[submodule "libffi"]
	path = libffi
	url = git://github.com/SaurikIT/libffi.git
[submodule "readline"]
	path = readline
	url = git://git.savannah.gnu.org/readline.git
	ignore = dirty
[submodule "libuv"]
	path = libuv
	url = https://github.com/joyent/libuv.git
