Package: cycript
Priority: optional
Section: Development
Maintainer: Jay Freeman (saurik) <saurik@saurik.com>
Architecture: %
Version: 0.9.#-1
Description: runtime execution server and disassembler
Name: Cycript
Depends: &
Author: Jay Freeman (saurik) <saurik@saurik.com>
Depiction: http://cydia.saurik.com/info/cycript/
Tag: purpose::daemon, role::developer
